<h2 mat-dialog-title>Assign Users</h2>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Select Users</mat-label>
    <mat-select formControlName="assignedUsers" multiple>
      <mat-option *ngFor="let user of userList$ | async" [value]="user.id">
        {{ user.emailAddress || user.username }}
        <span *ngIf="isUserAssigned(user.id)" class="assigned-tag"> (assigned) </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid || loading">
    Save
  </button>
</div>