<mat-sidenav-container class="sidenav-container">
    <!-- Sidebar -->
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-toolbar color="primary" class="toolbar">
        <img src="../assets/images/logo.png" width="80%" alt="Logo">
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item (click)="changeTitle('Home', '/home')">Home</a>
        <a mat-list-item (click)="changeTitle('Studio', '/studio')">Studio</a>
        <!-- <a mat-list-item (click)="changeTitle('Codegen', '/codegen/fastcode/home')">Codegen</a> -->
        <a mat-list-item (click)="changeTitle('Uibuilder', '/ui/redirect-after-login')">UiBuilder</a>
      </mat-nav-list>
    </mat-sidenav>
    
    <!-- Main Content -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ pageTitle }}</span>
      </mat-toolbar>
  
      <div *ngIf="showMicrofrontend" style="height:100%">
        <router-outlet></router-outlet>
      </div>
  
    </mat-sidenav-content>
  </mat-sidenav-container>