<mat-toolbar color="primary" class="toolbar">
  <span class="toolbar-title">Applications</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" style="margin-right:100px;" (click)="createNewApplication()">
    <mat-icon>add</mat-icon>
    Create New Application
  </button>
</mat-toolbar>

<div class="main-container">
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loading" class="app-list">
    <div class="app-item"
         *ngFor="let app of applications"
         (mouseenter)="hoveredApp = app"
         (mouseleave)="hoveredApp = null">
      <div class="app-details">
        <mat-icon class="app-icon">apps</mat-icon>
        <div class="app-text">
          <div class="app-name">{{ app.name }}</div>
          <div *ngIf="app.githubUrl" class="app-github">
            <mat-icon class="github-icon">code</mat-icon>
            <span class="github-link" [matTooltip]="app.githubUrl">
              {{ getShortGitUrl(app.githubUrl) }}
            </span>
          </div>
        </div>
      </div>
      <div class="app-actions">
        <div class="action-button" (click)="checkoutFromGit(app)">
          <mat-icon class="action-icon">cloud_download</mat-icon>
          <span *ngIf="hoveredApp === app" class="action-label">Git</span>
        </div>
        <div class="action-button" (click)="openFromLocal(app)">
          <mat-icon class="action-icon">folder_open</mat-icon>
          <span *ngIf="hoveredApp === app" class="action-label">Local</span>
        </div>
        <div class="action-button" (click)="openTools(app)">
          <mat-icon class="action-icon">build</mat-icon>
          <span *ngIf="hoveredApp === app" class="action-label">Tools</span>
        </div>
      </div>
    </div>
  </div>
</div>
