.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 250px;
}

.content-container {
    padding: 20px;
}

.toolbar {
    background-color: #ffffff !important;
    color: black !important;
}
